
  :root {
    --background-light: #ffffff;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
      background: linear-gradient(
    160deg,
    var(--background-light) 20%,
    hsla(211, 75%, 44%, 0.733) 100%
  );
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    position: fixed;
    width: 100%;
}
.logo-container{
    display: flex;
    align-items: center;
    
}
#img1{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 4px;
}
#img2{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    margin-right: 4px;
    position: relative;
}
#img1 h1{
    color: white;
    font-size: 24px;
    margin-left: 10px;
}
.nav-links{
    display: flex;
    gap: 50px;
    list-style: none;
   
}
.nav-links li a{
    color: white;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}
.btn{
    background-color: hsla(122, 39%, 49%, 0.658);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.1em;
}
.btn:hover:not(.login , .cta){
    background-color: hsl(123, 40%, 45%);

}
.login{
    background-color: inherit;
}
.container{
    height: 100vh;
    width: 100%;
    padding: 20px;
}
.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%; 
    padding: 20px;
    
}
.text{
    flex-basis: 50%;
    margin: 40px;
}
.text h1{
    font-size: 4em;
    color: #333;
    font-weight: bold; 
    margin-bottom: 20px;
}
.text p{
    font-size: 2em;
    color: #666;
    margin-bottom: 20px;
}
.cta{
    background-color: hsla(240, 100%, 50%, 0.644);
    color: white;
    padding: 10px 20px;
    border: none;
}
.cta:hover{
    background-color: hsl(240, 100%, 45%);
}
.image{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#icon{
    position: absolute;
    font-size: 3em;
    color: hsla(0, 0%, 100%, 0.712);
    cursor: pointer;
}
#icon:hover{
    transform: scale(1.1);
    color: hsl(0, 0%, 100%)
}
@media screen and (max-width: 1060px){
    .text h1{
    font-size: 3em;
    color: #333;
    font-weight: bold; 
    margin-bottom: 20px;
}
.text p{
    font-size: 1.5em;
    color: #666;
    margin-bottom: 20px;
}
}
@media screen and (max-width: 950px){
    .text h1{
    font-size: 2em;
    color: #333;
    font-weight: bold; 
    margin-bottom: 20px;
}
.text p{
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}
#img2{
    width: 300px;
    height: 300px;
    border-radius: 20px;

}
}
@media screen and (max-width: 850px){
    .nav-links{
        display: none;
    }
}
